# Put this in your .htaccess, before the WordPress rules.
RewriteCond %{HTTP_HOST} !^example\.com$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(jpe?g|gif|png)$ https://example.com/$1.$2 [R=302,NC,L]

php_value upload_max_filesize 1G
php_value post_max_size 1G
