RewriteCond %{HTTP_HOST} localhost$
RewriteCond %{REQUEST_URI} ^/wp-content/uploads/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) https://example.com/$1 [QSA,L]

php_value upload_max_filesize 1G
php_value post_max_size 1G
